  <body class="h-14 bg-gradient-to-r from-cyan-500 to-blue-500">
  <%= form_with(method: "get") do |form| %>
    <div>
      <i class="fa-solid fa-plane-departure"></i>
      <%= form.label(:departure_airport, "From") %><br>
      <%= form.select(:departure_airport, options_for_select(@departing_flights)) %>
    </div>
    <div>
      <i class="fa-solid fa-plane-arrival"></i>
      <%= form.label(:arrival_airport, "To") %>
      <%= form.select(:arrival_airport, options_for_select(@arriving_flights)) %>
    </div>
    <%= form.label(:passengers, "Passengers") %>
    <%= form.select(:passengers, [1, 2, 3, 4]) %>
    <%= form.label(:date, "Date") %>
    <%= form.select(:date, options_for_select(@date_options)) %>
    <%= form.label(:time, "Time") %>
    <%= form.select(:time, options_for_select(@time_options)) %>
    <%= form.submit "Search"%>
  <% end %>

Search results :
  <%= form_with url: new_booking_path, method: "get" do |form| %>
    <br>
    <% if @search_results != nil%>
    <% @search_results.each do |result| %>
    <%= form.radio_button :flight_id, result.id%>
    <%= result.takeoff_date %>
    <%= result.takeoff_time %>
    <%= result.duration %>
    <br>
    <% end %>
  <% end %>
  <%= form.hidden_field :passengers, value: params[:passengers] %>
  <%= form.submit "select" %>
<% end %>
</body>