
<body class="h-14 bg-gradient-to-r from-cyan-400 to-blue-500">

  <div class="flex-col mx-auto">
  <% if notice%>
    <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <p class="font-bold font-mono">Flight information</p>
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-4">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">
              Departure Airport
            </th>
            <th scope="col" class="py-3 px-6">
              Arrival Airport
            </th>
            <th scope="col" class="py-3 px-6">
              Departure Date
            </th>
            <th scope="col" class="py-3 px-6">
              Departure Time
            </th>
            <th scope="col" class="py-3 px-6">
              Duration
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td scope="row" class="py-4 px-6 text-gray-600 whitespace-nowrap">
              <%= @flight.departure_airport.airport_code%>
            </td>
            <td scope="row" class="py-4 px-6 text-gray-600 whitespace-nowrap">
              <%= @flight.arrival_airport.airport_code%>
            </td>
            <td scope="row" class="py-4 px-6 text-gray-600 whitespace-nowrap">
              <%= @flight.takeoff_date%>
            </td>
            <td class="py-4 px-6 text-gray-600 whitespace-nowrap">
              <%= @flight.takeoff_time %>
            </td>
            <td class="py-4 px-6 text-gray-600 whitespace-nowrap">
              <%= @flight.duration %> min
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <p class="font-bold font-mono">Passengers' information</p>
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-4">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">
              First name
            </th>
            <th scope="col" class="py-3 px-6">
              Last name
            </th>
            <th scope="col" class="py-3 px-6">
              Email
            </th>
          </tr>
        </thead>
        <tbody>
        <% @passengers.each do |passenger| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td scope="row" class="py-4 px-6 text-gray-600 whitespace-nowrap">
              <%= passenger.first_name%>
            </td>
            <td class="py-4 px-6 text-gray-600 whitespace-nowrap">
              <%= passenger.last_name %>
            </td>
            <td class="py-4 px-6 text-gray-600 whitespace-nowrap">
              <%= passenger.email %> 
            </td>
          </tr>
        <% end %> 
        </tbody>
      </table>
    </div>
    <div class="flex justify-evenly mt-4">  
        <%= button_to "Destroy this booking", @booking, method: :delete, class: "focus:outline-none bg-yellow-400 hover:bg-yellow-500 focus:ring-2 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:focus:ring-yellow-900 font-mono" %>
        <%= link_to "Back to search", root_path, class: "focus:outline-none bg-yellow-400 hover:bg-yellow-500 focus:ring-2 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:focus:ring-yellow-900 font-mono" %>
    </div>
  </div>
</body>